body {
    background: #fcf9ff;
    font-family: arial;
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 992px) {
    body {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 90%;
    }
}

blockquote {
    text-align: center;
    padding: 1em 0;
    width: 100%;
    font-style: italic;
    color: #555;
    font: .8em;
}

blockquote:before {
    padding-right: .5em;
    content: "\f10d";
    font-family: 'Fontawesome';
}

blockquote:after {
    padding-left: .5em;
    content: "\f10e";
    font-family: 'Fontawesome';
}

h1 {
    text-align: center;
}

h1 span {
    font-size: .6em;
    display: block;
    color: #555;
    font-weight: 100;
}

p {
    font-size: 1.2em;
}

i {
    padding: 0 .1em;
    color: #555;
}

ul {
    padding: 0px;
    list-style-type: none;
}

.competences,
.coordonnees {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.competences li,
.coordonnees li {
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1em;
}

.faq {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.question {
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    color: #555;
    padding: 1.8em 0 .5em 0;
}

.reponse {
    width: 100%;
    margin: 0;
}

.reponse i {
    padding: .4em .4em;
}